  <div class="container">
    <h1>Watch List Creator</h1>

    <div class="card-wrapper">
      <% @lists.each do |list| %>
        <%= link_to list.name, list_path(list) %>
      <% end %>

    </div>
  </div>
